argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
Bottleneck
brotlipy==0.7.0
certifi==2022.5.18.1
cffi
charset-normalizer
click
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
Flask
flit_core
fonttools==4.25.0
Gunicorn
idna
importlib-metadata
importlib-resources
inflection==0.5.1
itsdangerous
jedi
Jinja2
joblib
jsonschema
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
munkres==1.1.4
nbclient
nest-asyncio
numexpr
numpy
packaging
pandas==1.4.2
pandocfilters
parso
pexpect
pickleshare
Pillow==9.0.1
prometheus-client
prompt-toolkit
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
PyYAML
pyzmq
requests
seaborn
Send2Trash
sip
six
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tornado
traitlets
urllib3
wcwidth
webencodings==0.5.1
Werkzeug
zipp
