argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
Boruta==0.3
Bottleneck
brotlipy==0.7.0
certifi==2022.5.18.1
cffi
charset-normalizer
click
cryptography
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
Flask
flit_core
fonttools==4.25.0
idna
importlib-metadata
importlib-resources
inflection==0.5.1
ipykernel
ipython
ipython-genutils==0.2.0
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyterlab-pygments
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
munkres==1.1.4
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numexpr
numpy==1.22.4
packaging
pandas==1.4.2
pandocfilters
parso
pexpect
pickleshare
Pillow==9.0.1
prometheus-client
prompt-toolkit
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
PyYAML
pyzmq
requests
scikit-learn
scipy
seaborn
Send2Trash
sip
six
soupsieve
stack-data
terminado
threadpoolctl
tinycss2
tornado
traitlets
urllib3
wcwidth
webencodings==0.5.1
Werkzeug
xgboost==1.5.0
zipp
